.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cover_img_container{
    display: flex;
    justify-content: center;

    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
/* size 전체 커버, repeat 이미지 반복 x */
.cover_img_container::before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
}
/* 특별한 스타일링 데코레이션 등 스타일 할 때 ::before 사용 */

.cover_img_container > img{
    z-index: 1;
    max-height: 350px;
    height: 100%;
}

.title{
    font-size: large;
    font-weight: bold;
}

.subTitle{
    color: gray;
}

.author{
    color: gray;
}

.description{
    background-color: rgb(245, 245, 245);
    padding: 15px;
    line-height: 1.3;
    white-space: pre-line;
    border-radius: 5px;
}

